<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 id="titulo">HOLA JEFE TE ODIO</h1>
    <img src="https://firebasestorage.googleapis.com/v0/b/tiendasuralmm.appspot.com/o/CAMISETA%20GIRL%20POWER.jpg?alt=media&token=a1b91942-3c42-4036-8fae-dc05cb3884dc" alt="" id="foto">
    
    <script src="../controllers/aprendiendoDom.js"></script>
</body>
</html>